@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

div,
span {
    font-family: IRANYekan;
}

.Image-1 {
    width: 96px;
    height: 56px;
    object-fit: contain;
}


.logo-title {
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--transparent-background);
    margin-bottom: 8%;
}

.descriptions-change-pass {
    text-align: right;
    direction: rtl;
}

.item-box {
    margin: 8px 0px;
    overflow: hidden;
}

.item-box-inner {
    border-radius: 8px;
    background-color: #fafafa;
    padding: 16px;
}

.loader {
    border-style: solid;
    border-width: 2px 2px 2px 0;
    border-color: #ccc;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    -webkit-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear;
}